if MACH_LOONGSON2K

choice
	prompt "Machine Type"

config LOONGSON_MACH2K
	bool "Generic Loongson 2k family machines"
	select ARCH_SPARSEMEM_ENABLE
	select GENERIC_ISA_DMA_SUPPORT_BROKEN
	select BOOT_ELF32
	select BOARD_SCACHE
	select CSRC_R4K
	select CEVT_R4K
	select CPU_HAS_WB
	select HW_HAS_PCI
	select IRQ_CPU
	select SYS_HAS_CPU_LOONGSON2K
	select SYS_HAS_EARLY_PRINTK
	select SYS_SUPPORTS_SMP
	select SYS_SUPPORTS_64BIT_KERNEL
	select SYS_SUPPORTS_HIGHMEM
	select SYS_SUPPORTS_LITTLE_ENDIAN
	select ZONE_DMA32
	select UEFI_FIRMWARE_INTERFACE
	select SYS_SUPPORTS_HOTPLUG_CPU
	select SYNC_R4K
	#select DMA_NONCOHERENT
	#select ARCH_REQUIRE_GPIOLIB
	select ARCH_REQUIRE_GPIOLIB
	select NEED_SG_DMA_LENGTH
	select ARCH_SUPPORTS_MSI
	help
		Generic Loongson 2K family machines utilize the 3A/3B revision of
		Loongson processor and RS780/SBX00/2H chipset.
endchoice

config SWIOTLB
	bool "Soft IOMMU Support for Big Memory (>4GB)"
	depends on CPU_LOONGSON2K
	select IOMMU_HELPER
	select NEED_SG_DMA_LENGTH
	select NEED_DMA_MAP_STATE

config LOONGSON_DMA_NONCOHERENT
	bool "Loongson dma noncoherent"
	select DMA_NONCOHERENT
	default n

config NEED_SG_DMA_LENGTH
	bool

config ARCH_SPARSEMEM_ENABLE
	bool
	select SPARSEMEM_STATIC

config UEFI_FIRMWARE_INTERFACE
	bool

config LS2K_HPET
	bool "LS2K HPET Timer"
	depends on CPU_LOONGSON2K
	select MIPS_EXTERNAL_TIMER
	help
		This option enables the hpet timer of LS2K.
endif # MACH_LOONGSON2K
